.content{
  position: absolute;
  top: 10rem; /* Adjust as needed */
  left: 25rem; 
  width: 50%;
}

.content p, button{
  margin-top: 1rem;
}

.lineLeft{
    border-bottom: .5rem solid #3EDA60;
    width: 25%;
    margin: 5rem 0rem 10rem;
}
