

<app-section></app-section>

<div class="content">

    <h2>Welcome to Mercer Library!</h2>
    <p>In this section of your training, you will focus on key aspects that form the foundation of your role at Mercer Library.</p>

    <p>Get ready to dive into our policies, where you'll gain insights into the guidelines that shape our work environment. Next, we'll explore the procedures for logging in and out, ensuring you're equipped with the necessary tools for a seamless experience.</p>

    <p>You'll also delve into the intricacies of checking in and out books, mastering the essentials of library operations. Finally, we'll guide you through our closing procedures, ensuring a thorough understanding of how we wrap up each day.</p>

    <p>This section serves as a comprehensive introduction, setting the stage for a successful and rewarding journey with us.</p>

    <button><a routerLink="/tour" routerLinkActive="active">Let's go!</a></button>


</div>


<div class="lineLeft"></div>


      
<app-footer></app-footer>
