<!DOCTYPE html>

<head>
    
</head>

<body>

    <header>
      <a routerLink="" routerLinkActive="active"><button type="button">Home</button></a>
      <a routerLink="/welcome_one" routerLinkActive="active"><button type="button">Section 1</button></a>
      <a routerLink="/section-two" routerLinkActive="active"><button type="button">Section 2</button></a>
      <a routerLink="/section-three" routerLinkActive="active"><button type="button">Section 3</button></a>
      <a routerLink="/welcome_four" routerLinkActive="active"><button type="button">Section 4</button></a>
    </header>

</body>

