/* Common styling for footer */
footer {
    margin-top: 5rem;
    border-top: 2px solid #3EDA60;
    background-color: #191919;
    display: flex;
    font-size: smaller;
    line-height: 1.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;
}

footer h2 {
    padding-bottom: 1rem;
}

.footerAll {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem 0rem;
}

.quicklinkDiv {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footerAll {
        width: 90%;
    }
}



