footer {
    margin-top: 1rem;
    border-top: 2px solid #3EDA60;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    line-height: 1.5rem;
    width: 100%;
    min-height: 2.5rem; 
    position: absolute;
    bottom: 0;
}

footer h2 {
    padding-bottom: 1rem;
}

.footerAll {
    text-align: center;
    margin-left: 5rem;
    width: 30%; /* Adjusted */
    padding: 1rem 0rem; /* Adjusted */
}

.quicklinkDiv {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
}


