<footer>
    <div class="footerAll">
      <h2>
        Mercer Library Student Training 
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget rutrum sapien. Donec venenatis posuere scelerisque. Orci varius natoque penatibus et.
      </p>
    </div>

    <div class="footerAll">
      <h2>
        Quick Links 
      </h2>
      <div class="quicklinkDiv">
        <div>
        <p><a routerLink="" routerLinkActive="active" type="quicklink">Home</a></p>
        <p><a routerLink="/welcome_one" routerLinkActive="active" type="quicklink">Section 1</a></p>
          <p type="quicklink">Section 2</p>
        </div> 
        <div>
          <p type="quicklink">Section 3</p>
          <p type="quicklink">Section 4</p>
          <p type="quicklink">FAQ</p>
        </div>
        
      </div>

    </div>

    <div class="footerAll">
      <h2>
        Outside Resources
      </h2>

      <p type="quicklink"><a href="https://library.gmu.edu/" target="_blank">Mason Library Website</a></p>
          <p type="quicklink"><a href="https://infoguides.gmu.edu/" target="_blank">LibGuides</a></p>
          <p type="quicklink"><a href="https://infoguides.gmu.edu/dbs" target="_blank">Databases</a></p>

    </div>
</footer>