<app-section-three></app-section-three>

    <div class="content">
      <h1>Phone Operations</h1>
      <p>Familiarize yourself with essential phone operations to provide efficient service at Mercer Library. Follow the guidelines below to effectively handle calls and ensure a positive experience for library patrons.</p>
    </div>
  
    <div class="box"></div>
  
    <section>
      <h2>Hold:</h2>
      <p>To put a caller on hold, press the Hold key on the bottom right of the phone. You can hang up the phone. To take off hold, press the flashing key near the screen.</p>
    </section>
  
    <section>
      <h2>Transfer:</h2>
      <p>With the call in progress, press the Trans soft key. The caller is automatically placed on hold. Dial the five-digit phone number where the call is being transferred. Announce the caller, then press the flashing line key to return to the caller.</p>
    </section>
  
    <section>
      <h2>Phone Etiquette:</h2>
      <ul>
        <li>Answer the phone within three rings.</li>
        <li>Greet the caller with "Hello, thank you for calling Mercer Library. How can I help you?" or some variation.</li>
        <li>Put the caller on hold if answering a question from a patron already.</li>
        <li>Always ask before putting them on hold or transferring.</li>
        <li>Be honest if you don't know the answer. It's okay to put someone on hold to look things up or ask questions.</li>
        <li>Be aware of patrons coming to the desk even while on the phone. Acknowledge them with a smile or nod.</li>
        <li>Before hanging up, ask if they have any more questions.</li>
      </ul>
    </section>

  
    <a routerLink="/accounts" routerLinkActive="active"><button>Let's go!</button></a>
  
  
