<app-section-four></app-section-four>

    <div class="content">
      <h1>Working in the Stacks</h1>
      <p>As part of your role at Mercer Library, you will be involved in maintaining the organization and appearance of the library stacks. This involves two key tasks: Shelf-Reading and Straightening, each contributing to the overall efficiency and aesthetic appeal of our library.</p>
    </div>
  
    <div class="box"></div>
  
    <section>
      <h2>Shelf-Reading</h2>
      <p>Shelf-reading is a meticulous process of ensuring that every single book is in proper order on the shelves. Students are required to go through the shelves systematically, examining the call numbers and verifying the placement of each book. It is crucial for students to keep track of their progress by filling out where they started and where they stopped, along with their name. This process is super important because it maintains the integrity of our collection, making it easier for patrons to locate the materials they need for their research and studies.</p>
    </section>
  
    <section>
      <h2>Straightening</h2>
      <p>Straightening involves maintaining the overall appearance of the library shelves. Unlike the detailed process of shelf-reading, straightening focuses on ensuring that the shelves look neat and organized. Students will be responsible for going around the library, assessing the general appearance of the shelves, and making adjustments to improve their overall presentation. While not as detailed as shelf-reading, straightening contributes to the aesthetic appeal of the library, creating a welcoming and orderly environment for our patrons.</p>
    </section>
  
  