<app-section-two></app-section-two  >

    <div class="content">
    
        <h2>Directional Questions</h2>
        <p>This cheatsheet provides crucial information about our facilities, operating hours, and visitor policies. Explore the details below to enhance your understanding of the library environment and your role as student staff.</p>

     
    </div>

    <div class="box"></div>

    <Section>

        <h2>Basic Info</h2>
        <p><strong>Building:</strong> Colgan Hall</p>
        <p><strong>Hours:</strong> Sun-Weds 10-8, Thurs-Fri 8-6, Sat CLOSED/p>
        <p><strong>Phone Number:</strong> (703) 993-8340</p>
        <p><strong>Address:</strong> 10900 University Blvd, Manassas VA 20110</p>
    
        <h2>Who Can Visit?</h2>
        <p>Students and Staff can check out as usual.</p>
        <p>Open to the public, but they can't check out books.</p>
        <p>NOVA students can come in/check books out with restrictions. (We need to connect their Mason account with their NOVA one)</p>
    
        <h2>Around Mercer</h2>
        <p><strong>Nearest Parking Lot:</strong> Occoquan Parking Lot (includes both 15 and 30 min free parking)</p>
        <p><strong>Nearest Buildings:</strong> Facing Colgan hall/the parking lot, Discovery Hall is to the Right, and Katherine Johnson Hall is to the Left/behind Colgan.</p>
    
    </Section>

    
    <a routerLink="/ill" routerLinkActive="active"> <button>Let's go!</button></a> 
    <app-footer></app-footer>