<app-section-three>  </app-section-three>

    <div class="content">
      <h1>Printing</h1>
      <p>As part of your training, let's explore the different printing options available at Mercer Library. This overview will guide you through the printing process, covering both mobile printing and the use of our library computers. Familiarize yourself with these methods to assist patrons effectively.</p>
    </div>
  
    <div class="box"></div>
  
    <section>
      <h2>Mobile Printing</h2>
      <p>Students can easily print by emailing their documents to <strong>mobileprint@gmu.edu</strong>. If it's their first time, they should receive a response with a link to register. After registering, simply swipe and print as usual.</p>
    </section>
  
    <section>
      <h2>Their Own Devices:</h2>
      <p>This method does not work on Macs. Download the drivers from the Mason website: <a href="https://printandmail.gmu.edu" target="_blank">printandmail.gmu.edu</a>. Unzip the file, bring up the print window, locate the correct printer, and print like one of our computers.</p>
    </section>
  
    <section>
      <h2>Our Computers</h2>
      <p>The easiest way to print is by using the printer station. Students pull up what they need, hit print, then enter their NetId. Afterward, they go to the printer, scan their ID, and print what they need.</p>
    </section>

  
    <a routerLink="/phone" routerLinkActive="active"><button>Let's go!</button></a>
  

    <app-footer></app-footer>