<app-section-three> </app-section-three>

    <div class="content">
    <h1>Mason Money</h1>
      <p>Welcome to Mason Money, a system designed for convenient and secure fund management on your Mason ID or Patron Card. For patrons without Mason affiliation, cards are available in the front desk drawer, with a minimum deposit requirement of $5.</p>
    </div>
  
    <div class="box"></div>
  
    <section>
      <h2>How to Add Mason Money on your Mason ID or Patron Card</h2>
      <ol>
        <li>Click on "Add Mason Money Here."</li>
        <li>Agree to the Mason Money Terms.</li>
        <li>Enter your G number (with the G in front of the number) or your patron card number.</li>
        <li>Select the amount you would like to add.</li>
        <li>Complete payment information and submit.</li>
      </ol>
     </section>

     <a routerLink="/printer" routerLinkActive="active"> <button>Let's go!</button></a> 
     <app-footer></app-footer>