

<app-section></app-section>

<div class="content">

    <h2>Alma</h2>
    <p>
        Alma is our comprehensive library management system that facilitates the check-in and check-out process for a seamless library experience. This guide will help you understand the process, especially when dealing with Mason books and those from libraries around us.
    </p>

</div>


<div class="box"></div>



<section>
    <div>
        <h2>Checking Out Books</h2>
        <p>Open up Alma and navigate to Fulfillment > Manage Patrons.</p>

    <p>Follow these steps:</p>

    <ol>
        <li>Have the patron scan their ID.</li>
        <li>Look at the barcode on the book.</li>
        <li>If the book is from Mason Libraries, scan it as usual.</li>
        <li>If the book is from another library, go to "Item owner" and change "My Institutions" with the correct location.</li>
    </ol>

        </div> 
    <div>
        <h2>Checking In Books</h2>
        <p>Open up Alma and navigate to Fulfillment > Scan in Items.</p>

        <p>Follow these steps:</p>
    
        <ol>
            <li>Look at the barcode on the book.</li>
            <li>If the book is from Mason Libraries, scan it as usual.</li>
            <li>If the book is from another library, click the box that says "Item from another institution" and select the correct one.</li>
        </ol>
    
        <p>Next, sensitize the book and perform the following based on the book's origin:</p>
    
        <ul>
            <li>If it's a MERCER book, put it on the shelf.</li>
            <li>If it's from FENWICK, put the book straight into the courier bin.</li>
            <li>If it's from ARLINGTON, put it in an envelope addressed to Arlington and place it next to the bin.</li>
            <li>If it's from another school, put the correct location slip in and then place it into the courier bin.</li>
        </ul>
    
        <p><strong>Note:</strong> If any item has a GREEN SLIP, check it out as an ILL book.</p>
    </div>  
    
</section>


<a routerLink="/close" routerLinkActive="active"><button>Next Section</button></a>
    

