.content{
    position: absolute;
    top: 10rem; /* Adjust as needed */
    left: 25rem; 
    width: 50%;
  }
  
  .content p, button{
    margin-top: 1rem;
  }

  section{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }

  section div{
    width: 40%;
  }

  section h2{
    margin-bottom: 2rem;
  }

  section p{
    margin-bottom: 1rem;
    font-weight:lighter;
  }

  iframe{
    margin-top: 3rem;
  }

  button{
    margin-left: 50rem;
  }

  li{
    color: white;
  }

  li:last-child{
    margin-bottom: 2rem;
  }