.content{
    position: absolute;
    top: 10rem; /* Adjust as needed */
    left: 25rem; 
    width: 50%;
  }
  
  .content p, button{
    margin-top: 1rem;
  }

  button{
    margin-left: 50rem;
    margin-top: 3rem;
  }

  li{
    color: white;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .lineLeft{
    margin: 5rem 0rem 10rem 75%;
    padding-top: 6rem;
    border-bottom: .5rem solid #3EDA60;
    width: 25%;
  }
  