

<app-section-two></app-section-two  >

<div class="content">

    <h2>Welcome to Section 2!</h2>
    
    <p>
        In Section 2, you will delve deeper into various aspects essential for your role. Get ready to explore the following topics:
    </p>
    <ul>
        <li>Directional Questions Cheatsheet</li>
        <li>Interlibrary Loan (ILL)</li>
        <li>Study Rooms</li>
        <li>Shelving Procedures</li>
    </ul>

    <p>
        Each topic will provide valuable insights and knowledge to enhance your skills.
    </p>
    
 
</div>

<a routerLink="/directional-qs" routerLinkActive="active"> <button>Let's go!</button></a> 
<div class="lineLeft"></div>


      
<app-footer></app-footer>
