

<app-section-four></app-section-four >

    <div class="content">
    
        <h2>Welcome to Section 4!</h2>
            <p>Welcome to the final section of your training, where we'll delve into critical aspects of providing exceptional customer service, understanding reference training, and efficiently managing tasks in the stacks. These skills are integral to ensuring a positive experience for patrons and maintaining the smooth operation of George Mason University - Mercer Library.</p>
          </div>
        
    
    <a routerLink="/customer-service" routerLinkActive="active"> <button>Let's go!</button></a> 