
  
  .content{
    position: absolute;
    top: 10rem; /* Adjust as needed */
    left: 25rem; 
    width: 50%;
  }
  
  .content p, button{
    margin-top: 1rem;
  }

  button{
    margin-left: 50rem;
    margin-top: 3rem;
  }

  li{
    color: white;
    margin-left: 3rem;
    margin-top: 1rem;
  }

h2{
    margin-bottom: 2rem;
    margin-top: 5%;
  }

 p{
    margin-bottom: 1rem;
    font-weight:lighter;
  }

  section{
    width: 50%;
    margin-left: 30%;
    margin-top: 5%;
  }