<app-section-two></app-section-two  >

    <div class="content">
    
        <h2>ILL</h2>
        <p>For efficient handling of interlibrary loan requests, familiarize yourself with the ILLiad procedures outlined below. Ensure a smooth process for checking out and checking in items with green slips using the ILLiad web circulation system. Follow the steps diligently to provide prompt and accurate service to patrons.</p>

     
    </div>

    <div class="box"></div>
    <section>
        <h2>ILLiad Procedures</h2>
        <p><strong>Items Eligible:</strong> Only those with green slips.</p>
        <p><strong>Access ILLiad Web Circulation:</strong> Open the ILLiad web circulation bookmarked on your browser.</p>
        <p><strong>Password Renewal:</strong> If the password has expired, check the mailroom for the new password.</p>
        <p><strong>Checking Out Books:</strong> Open ILLiad, click the empty box next to "Check Out," then scan and desensitize the item. Hand it to the patron.</p>
        <p><strong>Checking In Books:</strong> Open ILLiad, click the empty box next to "Check-In," then scan and sensitize the item. Place it in the courier bin.</p>
    </section>

    <a routerLink="/study-rooms" routerLinkActive="active"> <button>Let's go!</button></a> 
    <app-footer></app-footer>