

<app-section></app-section>

<div class="content">

    <h2>Closing</h2>
    <p>
        In this training session, you'll learn about our library's closing procedures. Every night, we initiate the closing process 30 minutes before closing time. During this period, you'll discover the essential tasks our team undertakes to ensure a smooth and efficient closing routine. Your understanding and participation in this process will contribute to maintaining the library's functionality and positive environment. Let's get started!
    </p>
</div>


<div class="box"></div>


<form>
    <ul>
        <li><input type="checkbox"> Close and lock all of the study rooms</li>
        <li><input type="checkbox"> Give a 15-minute warning to remaining patrons</li>
        <li><input type="checkbox"> Check bookdrop</li>
        <li><input type="checkbox"> Turn off TV</li>
        <li><input type="checkbox"> Lock keybox</li>
        <li><input type="checkbox"> Place keybox key in the top shelf</li>
        <li><input type="checkbox"> Return shelf key to binder</li>
        <li><input type="checkbox"> Lock door and return key to drawer</li>
        <li><input type="checkbox"> Check the library for chairs not pushed in or anything left behind</li>
        <li><input type="checkbox"> Turn off computers at the front desk</li>
        <li><input type="checkbox"> Turn off computer monitors, including the monitor used to share the screen with patrons</li>
        <li><input type="checkbox"> Ensure everyone has left the library</li>
        <li><input type="checkbox"> Clean up the front desk</li>
    </ul>
</form>



<button><a routerLink="/site-search" routerLinkActive="active">Next Section</a></button>
    
