

<app-section></app-section>

<div class="content">

    <h2>Logging In</h2>
    <p>In this section of your training, you will focus on key aspects that form the foundation of your role at Mercer Library.</p>

    <p>Get ready to dive into our policies, where you'll gain insights into the guidelines that shape our work environment. Next, we'll explore the procedures for logging in and out, ensuring you're equipped with the necessary tools for a seamless experience.</p>

    <p>You'll also delve into the intricacies of checking in and out books, mastering the essentials of library operations. Finally, we'll guide you through our closing procedures, ensuring a thorough understanding of how we wrap up each day.</p>

    <p>This section serves as a comprehensive introduction, setting the stage for a successful and rewarding journey with us.</p>
 
</div>


<div class="box"></div>



<section>
    <div>
        <h2>Sign-in Sheet</h2>
        <p>At the start of each shift, it's important to complete the sign-in sheet located in the student binder at the front desk. This simple task serves your benefit by creating a written record of your arrival time. The sign-in sheet is a useful reference for both you and your supervisor, providing a quick comparison with your timesheet and ensuring accurate tracking of your work hours.</p>
    </div> 
    <div>
        <h2>Password Locations</h2>
        <p>
            <p>Keep an eye out for password updates, as they can be found in either the student binder or on the whiteboard in the mailroom. Password changes may be communicated via email, so regularly check your inbox to stay informed. This ensures you have access to the most up-to-date login information for various resources.</p>
</div>  
    
</section>

<section>
    <div>
        <h2>Headcount Statistics</h2>
        <p>For headcount statistics, after each hourly count, visit the appropriate statistical page and enter the number of people present. Your contribution is essential in keeping our records up-to-date.</p>
    </div> 
    <div>
        <h2>Questions Statistics</h2>
        <p>
            <p>When recording statistics for questions at the desk, whether in person or over the phone, distinguish between reference questions and directional questions. Reference questions often involve information that patrons need to search independently, like articles on biology. On the other hand, directional questions are queries that can be directly addressed or demonstrated, such as guidance on how to use the printing facilities.</p>
</div>  
    
</section>



<section> 
    <div>
        <h2>Workstation Login</h2>
        <p>When logging into the computer workstation, you'll be using a shared student login, provided for collective use by all students. 
            It's a simple and collaborative approach to access the resources you need.
        </p>
    </div>
    
    <div>
        <h2>Trello</h2>
        <p>
            Trello functions as a versatile messaging tool, crucial for streamlined communication at the front desk. Keep Trello open to address questions or updates, providing a convenient platform for collaboration. This is especially useful during various scenarios, such as IT visits, where quick and effective communication is essential.
        </p>
    </div> 

</section>

<section>
    <div>
        <h2>Alma</h2>
        <p>Alma is a tool for checking in and out books from Mason, including non-ILL items. It stores profiles for Mason users, and individuals can log in using their own information.</p>
    </div> 
    <div>
        <h2>ILL</h2>
        <p>
            <p>Interlibrary Loan (ILL) refers to the process of borrowing books from other campuses or libraries. These books are easily identifiable by the distinctive green slips attached to them. ILL provides access to a wider range of resources, allowing patrons to obtain materials that may not be available within the library's collection.</p>    
    </div>  
    
</section>

<a routerLink="/policies" routerLinkActive="active"> <button>Next Section</button></a>

<app-footer></app-footer>

