<app-section-two></app-section-two  >

    <div class="content">
    
        <h2>LibApps and Study Room Procedures</h2>
        <p>Efficiently manage study room reservations and screen sharing through LibApps. Familiarize yourself with the steps for accessing LibApps and providing assistance to students who are not on the platform. Additionally, review the policies and tips related to study room usage to ensure a seamless experience for both staff and patrons.</p>
    
     
    </div>

    <div class="box"></div>
    <section>
        <h2>Accessing LibApps</h2>
        <p><strong>On LibApps:</strong> Open LibApps bookmarked on your browser.</p>
        <p><strong>LibCal Spaces:</strong> Go to LibCal Spaces, navigate to Mercer Library Booking Grid & Availability.</p>
    
        <h2>Showing Students NOT on LibApps</h2>
        <p><strong>Screen Sharing:</strong> Hit Windows + P, then duplicate to share the screen.</p>
        <p><strong>Mason Libraries Website:</strong> Go to Mason Libraries website, use the Library Study Rooms at Mercer Library.</p>
        <p><strong>Reservation Process:</strong> Do not fill out the reservation; have students do it with their Mason Email.</p>
        <p><strong>Stop Sharing:</strong> Don't forget to hit Windows + P, then PC monitor to stop sharing the screen.</p>
    
        <h2>Study Room Policies</h2>
        <p><strong>Valid Email:</strong> Students must use a valid email.</p>
        <p><strong>Patron Requirements:</strong> There must be two or more patrons in a room.</p>
        <p><strong>Reservation Limits:</strong> They can only reserve one time per day for up to four hours.</p>
    
        <h2>Study Room Tips</h2>
        <p><strong>Room Key:</strong> The study room key is #20.</p>
        <p><strong>Supplies:</strong> Markers and erasers are in the drawer under the desensitization machine. They don't need to be checked out.</p>
        <p><strong>Remotes:</strong> The remotes are on the back table. They do need to be checked out like a normal book in Alma.</p>
     </section>

    <a routerLink="/shelving" routerLinkActive="active"> <button>Let's go!</button></a> 
    <app-footer></app-footer>