

<app-section-three></app-section-three >

    <div class="content">
    
        <h2>Welcome to Section 3!</h2>
        
        <p>
            In Section 3, your exploration continues into crucial aspects central to your role. Prepare to dive into the following essential topics:
        </p>
        <ul>
            <li>Mason Money</li>
            <li>Printing Procedures</li>
            <li>Phone Etiquette</li>
            <li>Library Accounts</li>
        </ul>
    
        <p>
            Each topic will equip you with valuable insights and knowledge to further refine your skills and contribute effectively to your responsibilities.
        </p>
        
     
    </div>
    
    <a routerLink="/mason-money" routerLinkActive="active"> <button>Let's go!</button></a> 
    <div class="lineLeft"></div>
    
    
          
    <app-footer></app-footer>
    