<!DOCTYPE html>

<head>

  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="home.component.css">

</head>
<body> 
  <div class="home">
    <div class="lineRight"></div>
    <h1>Mercer Library</h1>
    <h2>Student Training Guide</h2>
  
    <a routerLink="/welcome_one" routerLinkActive="active"><button>Let's go!</button></a>
   
</div>

 <div class="lineLeft"></div>
<app-footer></app-footer>
  <router-outlet></router-outlet>
</body>





