h1{
    text-align: center;
    padding-top: 8rem;
}

.box{
    width: 100%;
    height: 5rem;
    background-color: #3EDA60;
    margin-top: 5rem;
}

button{
    margin-left: 60%;
    margin-top: 2rem;
}